.no-popups-created {
    padding-top: 40px;
    // background-image: url(../../images/no-campaigns.png);
    // background-repeat: no-repeat;
    // background-position: top center;
    // background-size: 100px auto;
    .no-popups-img {
        max-width: 215px;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        color: #1E1E1E;

        img{
            width: 100%;
            margin-bottom: 20px;
        }
    }
}